@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 8s linear infinite;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #4f46e533;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4f46e566;
}
